

<style>
    body {
        font-family: 'Arial Rounded MT';
        background-color: #f8f9fa;
    }

    .section-title {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }

    .accordion {
        padding: 2rem 1rem;
    }
</style>
<div class="container text-center my-4">
    
    @* <img src="~/css/images/PPSS_login2.png"
         class="img-fluid rounded " alt="PAGCOR PHOTOGRAPHY SCORING SYSTEM"
         style="width: 30%; "> *@
</div>
<section>
    <div class="row justify-content-center">
        @* <div class="col-12">
            <div class="section-title text-center">
                <p class="text-primary text-uppercase fw-bold mb-3"></p>
                <h1></h1>
            </div>
        </div> *@
        @* <div class="col-12" style="margin-top: -4%;">
            <div class="section-title text-center">
                <h1>The PAGCOR Photography Contest 2024</h1>
            </div>
        </div> *@
        <div class="col-lg-7" >
            <div class="accordion shadow rounded bg-white position-relative" id="accordionFAQ">
                <div class="text-center">
                    <img loading="preload" decoding="async" class="img-fluid" width="120" src="~/css/images/pagcorlogo.png" alt="PAGCOR">
                </div>
                <h1 class="text-center text-primary">PAGCOR Photography Contest 2024</h1>
                <p>The PAGCOR Photography Contest is a nationwide photography competition for professional and amateur photographers.</p>
                <p>The Philippine Amusement and Gaming Corporation (PAGCOR) began holding photo contests in 2013 and ran until 2016. After a six-year break, PAGCOR revived the competition with bigger cash prizes at stake. Participants from past competitions as well as aspiring ones who are searching for a medium to show the images captured by their cameras and latest mobile devices are encouraged to join.</p>
                <p>With the theme, “Harvest Time”, Photocon 2024 aims to highlight the country’s sources of agricultural, aquatic and botanical bounty. This project likewise hopes to honor the hardworking workers through the talented Filipino lensmen.</p>
                <p>Photocon 2024 has three categories – (1) Conventional which is for photos taken using all types of traditional or conventional cameras like Single Lens Reflex or Digital SLR, compact cameras and the like; (2) Mobile for photos taken using mobile devices like smartphones, tablets; and (3) Drone for images taken using drone-mounted cameras.</p>
                <p>Out of all the entries submitted and qualified, finalists will be chosen by an esteemed panel of judges - 16 for conventional, 16 for mobile and 16 for drone.</p>
                <p>These will be narrowed down further to the grand winners - 8 for the conventional category who will each receive Php100,000 cash, and 8 for the mobile category who will take home Php50,000 cash each and 8 for the drone category who will be awarded Php50,000 cash each. The 24 non-winning finalists will get consolation prizes – P35,000 each for the conventional while P20,000 each for the mobile and drone categories. A special cash prize of P10,000 will also be given the “People’s Choice Award” photos for each category.</p>
                <p>Contest duration is from February 15 to July 31, 2024.</p>
            </div>
        </div>
    </div>
</section>