/*.sidenav {*/
/*    margin-top: 3.1%;*/
    /*height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    overflow-x: hidden;
    padding-top: 5%;
    transition: width 0.5s;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #adb5bd;
    display: block;
    transition: color 0.3s;
}

.sidenav a:hover {
    color: #f8f9fa;
}*/


